<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Sample Site</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='./css/main.css' />
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/">HJEM</a>
            </li>
            <li>
              <a href="/about">OM SLIPSEKNUDEN</a>
            </li>
            <li>
              <a href="/garanti">GARANTI</a>
            </li>
            <li>
              <a href="/contact">KONTAKT</a>
            </li>
            <li>
              <a href="/nyheder">NYHEDER</a>
            </li>
            <li>
              <a href="/produkter">PRODUKTER</a>
            </li>
            <li>
              <input type="text">
            </li>
            <li>
              <a class="icon" href="/">
                <i class="fa fa-1x fa-search"></i>
              </a>
            </li>
            <li>
              <a class="icon" href="/">
                <i class="fa fa-1x fa-facebook"></i>
              </a>
            </li>
            <li>
              <a class="icon" href="/">
                <i class="fa fa-1x fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <img src="img/logo.jpg">
